@charset "UTF-8";

body{
    margin: 10px;
    padding: 10px;
}

header{
    min-height: 150px;
    text-align: center;
    padding: 20px;
}

header p{
    font-size: 1.2em;
}

nav{
    font-size: 1.1em;
    text-align: center;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: gray;
    
}

div{
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

main{
    margin: 5px;
    padding: 10px;
}

p{
    font-size: 1.em;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
  
}
